@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.Mensaje != null)
{
    <div>
        <P class="text-info">@ViewBag.Mensaje</P>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Reserva Espectaculo</h1>
    <p>Hace tu reserva  para tus peliculas favoritas, facil y rapido desde casa.</p>
</div>
